@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  object-fit: cover;
}

[hidden] {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  height: 0px;
}
*::-webkit-scrollbar {
  background-color: #2d2e3b;
  width: 4px;
}
*::-webkit-scrollbar-thumb {
  background-color: #1b1c27;
}
